---
// src/layouts/Layout.astro

import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

// Components
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

// Font Imports
import '@fontsource-variable/oswald';
import '@fontsource-variable/roboto-flex';
import '@fontsource-variable/georama';

// Library Styles
import '@fortawesome/fontawesome-free/css/all.min.css';

interface Props {
title: string;
description?: string;
image?: string;
}

const {
title,
description = "Chuck Copeland - Multimedia Artist & Video Editor",
image = "/assets/img/og-image.png"
} = Astro.props;

const siteUrl = "https://chuckcopeland.com";
---

<!doctype html>
<html lang="en">

    <head>
        <ClientRouter />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.2/simple-lightbox.min.css"
            rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swiper/11.0.5/swiper-bundle.min.css">

        <title>{title}</title>
        <meta name="description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={siteUrl} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, siteUrl)} />
    </head>

    <body>

        <Navbar />

        <main>
            <slot />
        </main>

        <Footer />


        <script>
            const observerOptions = { root: null, rootMargin: '0px', threshold: 0.1 };
            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) { entry.target.classList.add('active'); }
                });
            }, observerOptions);

            document.addEventListener('astro:page-load', () => {
                const elements = document.querySelectorAll('.reveal');
                elements.forEach(el => observer.observe(el));
            });
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/swiper/11.0.5/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.2/simple-lightbox.min.js"
            is:inline></script>

    </body>

</html>